root = true

# I'm not really bothered about tabs vs spaces and will happily work in either. ;)
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
